# Grafana Configuration
GF_USER=GF_USER
GF_PASSWORD=GF_PASSWORD
GF_URL=http://localhost:3000
GF_DOMAIN=GF_DOMAIN

# AWS Configuration
AWS_REGION=ap-northeast-2

# Loki S3 Configuration
LOKI_S3_BUCKET=devths-v2-monitoring-loki-prod

# Tempo S3 Configuration
TEMPO_S3_BUCKET=devths-v2-monitoring-tempo-prod

# Alertmanager Discord Webhook
DISCORD_WEBHOOK_PROD=https://discord.com/api/webhooks/YOUR_PROD_WEBHOOK
DISCORD_PROD_MENTION=<@&YOUR_PROD_ROLE_ID>
